{% extends "ecom/base.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="get" class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" class="form-control form-control-borderless" name="item-name" placeholder="Enter a product name">
                    </div>
                    &nbsp;
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
            <br><br>
            <!-- Section to show all products -->
             <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{product.image}}" alt="" class="card-img-top">
                            <div class="card-body">
                                <div class="card-title">{{product.title}} </div>
                                <div class="card-text" style="color: orange;">XAF {{product.price}}</div>
                                <br>
                                <a href="{% url 'product-detail' product.id %}" class="btn btn-warning ">Details</a>
                                <button class="btn btn-success">Add to cart</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col-md-3 offset-md-4">
                        <ul class="pagination">
                            <!-- previous page -->
                            {% if products.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}

                            <!-- active page -->
                             <li class="page-item active"><a class="page-link" href="?page={{products.number}}">{{products.number}}</a></li>

                            <!-- next page -->
                            {% if products.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                                </li> 
                            {% endif %}
                        </ul>
                    </div>
                </div>
             </div>
        </div>
    </div>
{% endblock %}